.header {
    font-size:45px;
    margin: 15px auto 0 auto;
    width: fit-content;
    padding: 0 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
    color: azure;
}

div {
   
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
        max-width: auto; 
        margin: 0 auto; 
        
}

img{

width:125%;
height: 150%;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
border-radius: 10px;
transition: transform 0.3s, box-shadow 0.3s;
}

img:hover{
transform: scale(1.05);
box-shadow: 0 15px 30px rgba(0,0,0,1)

}

.movieCard{
    display: flex;
    flex-direction: column;
    width:275px;
   
}

body{
    background-color: rgb(37, 37, 37);
}


.movieCardLower{
display: flex;
margin-top: 30px;
width: 275px;

}